.header {
  display: flex;
}

.nav {
  display: grid;
  justify-content: space-between;
  align-items: center;

  grid-template-columns: repeat(2, auto) 1fr repeat(5, auto);

  padding: 16px 24px !important;
  column-gap: 24px;

  background: #fff;
}

.divider {
  border: none;
  border-left: 1px solid #E2E4F0;
  height: 100%;
  width: 1px;
}

.second_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  column-gap: 16px;

  padding: 20px 24px;
}

.links {
  display: flex;
  align-items: center;

  list-style: none;

  column-gap: 24px;
}

.link,
.blueLink {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none;
}

.link {
  color: #071435;

  &:hover {
    text-decoration: underline;
  }
}

.blueLink {
  color: #1551E5;
}

.blueLink_icon {
  margin-right: 16px;
}
