.breadcrumbs {
  display: flex;
  align-items: center;

  column-gap: 4px;

  margin-bottom: 24px;
}

.link {
  color: #828EAD;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}
