.user {
  cursor: pointer;

  display: flex;
  align-items: center;

  column-gap: 16px;
}

.avatar {
  width: 32px;
  height: 32px;

  overflow: hidden;

  border-radius: 8px;
}

.username {
  color: #071435;
  font-family: 'Gotham Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

.btn {
  cursor: pointer;

  display: grid;
  place-content: center;

  border: none;
  background: none;
}
